html {
    scroll-behavior: smooth;
  }

body{
    text-align:center;
    overflow:scroll;
    font-family: Roboto;
    
}

#logo{
    color: brown;
}

#spanWhite{
    color: white;
}

#spanDev{
    color: brown;
}

.navbar-nav{
    display:inline-block
}

.navbar-nav li{
    display:inline-block;
    margin-left:20px;
}

.navbar-dark{
    background: black;
}

#section{
    width:100%;
    position: relative;
    background-color: black;
    color: white;
    margin-bottom: 100px;
    padding-bottom: 900px;
    
}

header h1{
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom:77%;
    transform: translateX(-50%);
}
header h2{
    position: absolute;
    z-index: 3;
    left: 50%;
    top:30%;
    transform: translateX(-50%);
}


#myself{
    position: absolute;
    border-radius: 100px;
    opacity: 0.45;
    top:40px;
    right:3%;
    max-width: 50%;
    min-width: 50%;

}


.about-me{
    margin-bottom:100px;
}


.gallery{
    background-color: black;
   
}

.gallery h2{
    color: white;
}

.galleryContainer{
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-gap:50px;
    padding:30px;
    overflow: hidden;
    font-family: 'Roboto';
    

}

.galleryContainer img{
    transition: transform 1s;
    overflow: hidden;
    width:300px;
    height:300px;
    font-family: 'Roboto';
}

.galleryContainer img:hover{
    transform:scale(1.1);
    font-family: 'Roboto';
    transition: 1s;
    opacity: 0.7;

}


#lineTwo{
    height:3px;
    background-color: white;
    color: white;
    width:100%;
}

#line{
    height:3px;
    background-color: white;
    color: white;
    width:100%;
}

#lineTwo{
    height:3px;
    background-color: black;
    color: black;
    width:100%;

}

#carousel-div{
    background-color: black;
    margin-bottom:100px;
    padding:40px;
}

#skills{
    color: white;
}
.carousel{
    background-color:black;
}

.bootstrap-dashed-borders{
    margin-top:50px;
    margin-bottom:100px;

}

#border-one{
    padding:150px;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 100px;
    text-align: center;
}

#border-two{
    padding:150px;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 100px;
    text-align: center;
}

#light{
    position: relative;
    top: 150px;
    margin-bottom: 250px;
}

#lineh1{
    position: absolute;
    left: 0;
    height: 10px;
    background: black;
    animation: lineH 4s 5s infinite linear;
}
#lineh2{
    position: absolute;
    left: 0;
    top: 40px;
    height: 10px;
    background: brown;
    animation: lineH 5s 0.5s infinite linear;
}
#lineh3{
    position: absolute;
    left: 0;
    top: 70px;
    height: 10px;
    background: black;
    animation: lineH 5s 2s infinite linear;
}


@keyframes lineH{
    0%{
        width: 0%;
    }
    100%{
width: 95%;opacity: 0;
}
}


#contactFormOne{
    margin-top: 100px;
}

#tellUsHeading{
    margin-top: 100px;
}

#name{
    margin-bottom: 50px;
    
}

#emaill{
    margin-bottom: 50px;

}

#submit{
    margin-top: 50px;
    background-color: brown;
    color: black;
    margin-bottom: 100px;
}


footer{
    margin-top:100px;
    background-color: black;
    color: white;
    padding:100px;
}


footer div img{
    transition: transform 1.3s;
    font-family: 'Roboto';
}

footer div img:hover{
    transform:scale(1.5);
    font-family: 'Roboto';
}

#mail{
    margin-right:50px;

    margin-bottom: 100px;
}

#phone{
    margin-left:50px;

    margin-bottom: 100px;
}

#contact{
    margin-bottom: 50px;
}

#portfolio{
    text-decoration: underline;
    padding:100px;
    margin-bottom: 50px;
}

#git{
    margin-top:30px;
    margin-bottom:50px;
}


@media only screen and (max-width: 900px) {
    #section{
        width:100%;
        position: relative;}
    
    #myself{
        overflow: hidden;
        position: absolute;
        border-radius: 100px;
        opacity: 0.5;
        top:50%;
        left:25%;
        max-width: 50%;
        min-width: 50%;
    
    }
    
}


@media only screen and (max-width: 900px) {
    .galleryContainer{
        display:grid;
        grid-template-columns: auto auto;
    }
}


@media only screen and (max-width: 500px) {
    .galleryContainer{
        display: block;
    }
}


@media only screen and (max-width: 700px) {
    #mail{
        display: block;
        margin: auto;
        margin-bottom: 100px;
    }
    
    #phone{
        display: block;
        margin: auto;
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 500px) {
    
    .navbar-nav{
    display:inline-block
}

    .navbar-nav li{
    display:inline-block;
    margin-left:20px;
}
}
